.App {
    font-family: sans-serif;
}

.Timebox {
    background-color: #b2ad7f;
    border: $default-border;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
}

.finished {
    background-color: #878f99;
}

.TimeboxEditor, .TimeboxCreator, .LoginForm {
    text-align: right;
    border: $default-border;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.TimeboxCreator {
    background-color: #a2b9bc;
}

.TimeboxEditor {
    background-color: #878f99;
}

.CurrentTimebox {
    background-color: #6b5b95;
    margin-bottom: 10px;
}

input {
    min-width: 60%;
    margin-left: 20px;
    font-size: 16px;
}

button {
    font-size: 16px;
}

.CurrentTimebox {
    border: $default-border;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.Clock {
    color: #878f99;
}

.progress {
    border: $default-border;
    border-radius: 5px;
    height: 25px;
    margin-bottom: 20px;
    padding: 5px;
    transform: scaleX(-1);

    &--big {
        height: 50px;
    }
    
    &--color-purp {
        border-color: darken(#6b5b95, 20);
    }
    
    &__bar {
        height: 100%;
        background-color: #878f99;
    }
    
    &--color-purp &__bar {
        background-color: darken(#6b5b95, 20);
    }
}

.header {
    display: flex;
    justify-content: flex-end;
    margin: 15px;

    &__logout-link {
        margin-left: 10px;
    }
}

.LoginForm {
    &__error-message {
        margin: 15px auto;
        text-align: center;
        border: 1px solid red;
        padding: 10px;
        border-radius: 5px;
        color: red;
    }
}
